    <header>
        <div class="header-content text-bb">
            <div class="header-content-inner">
                <h1 class="text-bb"><br><br><br><smal>さあ,あなたのプランを<br>実現しよう。</smal></h1>
                <hr>

                <h4 class="text-bb">エキスパートによるアイデア・企画の実行支援</h4>
      <div class="col-sm-4 col-sm-offset-4">
       <%= image_tag "sukimalogo_1.gif" ,class: "img-responsive", alt: "SUKIMA logo" %>
       </div>
        </div>

<div class="col-sm-6 col-sm-offset-3">
<%= form_tag '/contacts', method: :post do %>
  <h4>
    事前登録
  </h4>
 <textarea cols="80" name="mailadd" placeholder="メールアドレス" rows="1.5" class=”form-inline”></textarea>
 <input type="submit" value="事前登録">
<% end %>
</div>

</div>

    </header>

    <section class="bg-warning" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">S U K I M A とは？</h2>
                    <hr>
                    <p class="lead">社内だけでは<br>「アイデアが生まれない」<br>「企画がなかなかまとまらない」<br>「取り組みたいことが後回しになっている」...etc<br><br>S U K I M A は、プランニング業務に悩む企業の実行支援サービスです。<br>社外のエキスパートが様々な視点を持ち寄りアイデア・企画の実現をサポートします。</p>
                </div>
            </div>
        </div>
    </section>

    <section id="wake">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">S U K I M A が選ばれる理由</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 text-center">
                    <div class="service-box">
                        <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-success"></i>
                                <i class="fa fa fa-compass fa-stack-1x fa-inverse"></i>
                        </span>   
                        
                    <h3>マーケティング機能を提供</h3>
                        <p class="text-left">多くの中小企業ではマーケティング部門を保有している会社はまだ少数です。マーケティング機能のアウトソーシングとしてご利用いただけます。</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 text-center">
                    <div class="service-box">
                     <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-info"></i>
                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        <h3>アイデアの見える化</h3>
                        <p class="text-left">日々の業務の中で発見した新たな着想や改善点などを素早く検証し資料に落とし込むことで、メンバーとの共有、行動へとつながります。</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 text-center">
                    <div class="service-box">
                     <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                            </span>
                        <h3>やるべき業務に集中</h3>
                        <p class="text-left">情報収集・分析、調査資料やレポートの取りまとめ等の業務を分担すること、やるべき業務に集中し効率を高めることができます。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="bg-warning" id="zirei">
     <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">サービス内容</h2>
                    <hr class="primary">
                </div>
            </div>
      </div>
      <div class="container-fluid">
        <div class="row no-gutter"></div>
                <div class="col-lg-4 col-sm-4">
                    <a class="portfolio-box">
                        <%= image_tag "portfolio/1-1.jpg", class: "img-responsive", alt: "資料作成" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <strong>Reserch</strong>
                                </div>
                                <div class="project-name">
                                   二次情報による<br>外部環境のレポート作成。
                                </div>
                            </div>
                        </div>
                    </a>
                    <div>
                      <p class="text-body">アイデア・企画を具体化するための情報収集をサポートします。業界や競合の市場動向やビジネスモデルの分析をレポートにしてご提供します。
                      </p>
                    </div>
                  <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-block btn-danger" data-toggle="modal" data-target="#myModal-1">
                    事例紹介
                    </button>
                  <div class="row"><p><br></p></div>
                  </div>


<div class="col-lg-4 col-sm-4">
  <a class="portfolio-box">
    <%= image_tag "portfolio/2-2.jpg", class: "img-responsive", alt: "アイデア" %>
    <div class="portfolio-box-caption">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          <strong>Planning</strong>
        </div>
        <div class="project-name">
        漠然としたアイデアを<br>プランに落とし見える化。
        </div>
      </div>
    </div>
  </a>
  <div>
    <p class="text-body">カタチにできないアイデアや企画を整理・検証し、具体的なプランに落とし込みます。アイデアの実現に向けて必要な要素を把握し実行へと導きます。</p>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-sm btn-block btn-danger" data-toggle="modal" data-target="#myModal-2">
    事例紹介
  </button>
  <div class="row"><p><br></p></div>

</div>

<div class="col-lg-4 col-sm-4">
  <a class="portfolio-box">
    <%= image_tag "portfolio/3-3.jpg", class: "img-responsive", alt: "プランニング" %>
    <div class="portfolio-box-caption">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          <strong>Sharing</strong>
        </div>
        <div class="project-name">
        外部の知見を活用して<br>イノベーションを。
        </div>
      </div>
    </div>
  </a>
     <div><p class="text-body">社内では補えない経験やスキルを共有するSUKIMAプラットフォーム。外部人材への相談やブレストが新たな気づきをもたらします。</strong></p></div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-sm btn-block"　disabled="disabled" data-toggle="modal" data-target="">
  事例紹介（準備中）
</button>
<div class="row"><p><br></p></div>

</div>
</div>
            
<div class="container">
    <div class="row">
　　　  <div class="col-lg-12">

                <div class="row">
                <div class="col-lg-12 text-center">
                <br><h3>- ご利用の手順 -</h3><br>
                </div> 
                </div>

<div class="row">  

                <div class="col-sm-12">
                 
                 <div class="col-lg-3 col-sm-3 text-center">
                 <%= image_tag "N-1.gif", class: "img-responsive　center-block", alt: "" %>
                    <div class="service-box">
                    <h3>お問合せ</h3>
                        <i class="fa fa-4x fa-phone-square text-success"></i> 
                    </div>
                    <p class="text-left"><br>まずは下記のフォームもしくはお電話にてお問合せください。<br></p>
                </div>
                 
                 <div class="col-lg-3 col-sm-3 text-center">
                 <%= image_tag "N-2.gif", class: "img-responsive　center-block", alt: "" %>
                    <div class="service-box">
                        <h3>ヒアリング</h3>
                        <i class="fa fa-4x fa-user-md text-warning"></i>
                        <p class="text-left"><br>現在の問題・課題に関してヒアリングさせていただきます。<br></p>
                    </div>
                </div>
                 
                 <div class="col-lg-3 col-sm-3 text-center">
                 <%= image_tag "N-3.gif", class: "img-responsive　center-block", alt: "" %>
                    <div class="service-box">
                        <h3>ご提案</h3>
                        <i class="fa fa-4x fa-list-alt text-danger"></i>
                        <p class="text-left"> <br>お取り組み内容及びお見積りをお出しさせていただきます。<br></p>
                    </div>
                  </div>
                  
                  <div class="col-lg-3 col-sm-3 text-center">
                     <%= image_tag "N-4.gif", class: "img-responsive　center-block", alt: "" %>
                    <div class="service-box">
                        <h3>ご契約
                        </h3>
                        <i class="fa fa-4x fa-play-circle text-primary"></i>
                        <p class="text-left"><br>お取り組み内容が決まれば、プロジェクトがスタート！<br></p>
                    </div>
                </div>

               </div>

                <div class="col-lg-12 text-center">
                <p class="lead"><br><strong>事前相談は無料です。<br>まずはお気軽に<a class="page-scroll" href="#contact">お問い合わせ</a>下さい。</strong></p>
                </div> 

              </div>

        </div>

        </div>
       </div>
    </div>

    </section>

     <section id="meri">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">特徴・メリット</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                   
                 <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-comments-o text-warning"></i>
                        <h3>事前相談は無料</h3>
                        <p class="text-left">誰かに相談したい糸口が見えないという方と、まずは気軽にディスカッションいたします。</p>
                    </div>
                </div>

                 <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-sign-in text-danger"></i>
                        <h3>社外の知見を活用</h3>
                        <p class="text-left">社外の人材が保有する専門知識や経験がプランをより具体的で実現性の高いものへと磨きます。</p>
                    </div>
                </div>
            
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-user-plus text-info"></i>
                        <h3>チームに参加</h3>
                        <p class="text-left">チームメンバーとして、プロジェクトにコミット。プランの実現に向けて全力で取り組みます。</p>
                    </div>
                </div>
               
                 <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-file-text fa-4x text-success"></i>
                        <h3>資料作成サポート</h3>
                        <p class="text-left">フラットデザインをベースにシンプルに要点を絞り込みます。資料作成をサポートします。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>お持ちのプランを、素早くカタチにしませんか？</h2>
                <a href="#contact" class="btn btn-default btn-xl">ご相談はこちら</a>
            </div>
        </div>
    </aside>

    
    <section id="qa">
      
      <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">よくある質問</h2>
                    <hr class="primary">
                </div>
            </div>

<div class="row">
　　　<div class="col-lg-12 ">
            
       <div class="row">

       <div class="col-lg-6 text-center">

         <div class="icon col-lg-1 col-lg-offset-1 col-sm-1">
           <i class="fa fa-question-circle fa-2x text-info"></i>
         </div>
         <div class="content col-lg-10 col-sm-5">
          <div class="content-caption text-left">
             <p><strong>SUKIMAは資料作成の代行サービスですか？</strong></p>
          </div>
         </div>
           <div class="icon col-lg-1 col-lg-offset-1 col-sm-1">
           <i class="fa fa fa-adn fa-2x text-danger"></i>
         </div>
         <div class="content col-lg-10 col-sm-5">
          <div class="content-caption text-left">
             <p>資料の打ち込み等を行う代行サービスではなく、マーケティング業務のアウトソーシングとしてご利用いただけます。</p>
          </div>
          <div><p><br></p></div>
         </div>

         <div class="icon col-lg-1 col-lg-offset-1 col-sm-1">
           <i class="fa fa-question-circle fa-2x text-info"></i>
         </div>
         <div class="content col-lg-10 col-sm-5">
          <div class="content-caption text-left">
             <p><strong>SUKIMAとはどのような意味ですか？</strong></p>
          </div>
         </div>
           <div class="icon col-lg-1 col-lg-offset-1 col-sm-1">
           <i class="fa fa fa-adn fa-2x text-danger"></i>
         </div>
         <div class="content col-lg-10 col-sm-5">
          <div class="content-caption text-left">
             <p>SUKIMAはビジネスパーソンの知見を持ち寄り企業や個人が保有しないスキルのスキマを埋めるサービスを提供する、というコンセプトでネーミングされました。</p>
          </div>
           <div><p><br></p></div>
         </div>

         <div class="icon col-lg-1 col-lg-offset-1 col-sm-1">
           <i class="fa fa-question-circle fa-2x text-info"></i>
         </div>
         <div class="content col-lg-10 col-sm-5">
          <div class="content-caption text-left">
             <p><strong>どのように依頼すれば良いですか？</strong></p>
          </div>
         </div>
           <div class="icon col-lg-1 col-lg-offset-1 col-sm-1">
           <i class="fa fa fa-adn fa-2x text-danger"></i>
         </div>
         <div class="content col-lg-10 col-sm-5">
          <div class="content-caption text-left">
             <p>まずはメール・電話・ご訪問等にて、お打ち合わせをさせていただきます。ご相談内容に合わせたお取り組みのご提案をさせていただきます。</p>
          </div>
           <div><p><br></p></div>
         </div>

      </div>

        <div class="col-lg-6 text-center">

        <div class="icon col-lg-1 col-lg-offset-1 col-sm-1">
           <i class="fa fa-question-circle fa-2x text-info"></i>
         </div>
         <div class="content col-lg-10 col-sm-5">
          <div class="content-caption text-left">
             <p><strong>サービスの詳しい案内が欲しいのですが...</strong></p>
          </div>
         </div>
           <div class="icon col-lg-1 col-lg-offset-1 col-sm-1">
           <i class="fa fa fa-adn fa-2x text-danger"></i>
         </div>
         <div class="content col-lg-10 col-sm-5">
          <div class="content-caption text-left">
             <p> <a class="page-scroll" href="#contact">お問い合わせ</a>より資料請求をいただけましたら、PDFデータにてサービスのご案内をお送りさせていただきます。</p>
          </div>
          <div><p><br></p></div>
         </div>         


        <div class="icon col-lg-1 col-lg-offset-1 col-sm-1">
           <i class="fa fa-question-circle fa-2x text-info"></i>
         </div>
         <div class="content col-lg-10 col-sm-5">
          <div class="content-caption text-left">
             <p><strong>全国で対応は可能でしょうか？</strong></p>
          </div>
         </div>
           <div class="icon col-lg-1 col-lg-offset-1 col-sm-1">
           <i class="fa fa fa-adn fa-2x text-danger"></i>
         </div>
         <div class="content col-lg-10 col-sm-5">
          <div class="content-caption text-left">
             <p>現時点では関西エリアでの活動が中心となっておりますが、関西以外の場合は電話/スカイプ等での打ち合わせにてご対応をさせていただきます。</p>
          </div>
           <div><p><br></p></div>
         </div>

         <div class="icon col-lg-1 col-lg-offset-1 col-sm-1">
           <i class="fa fa-question-circle fa-2x text-info"></i>
         </div>
         <div class="content col-lg-10 col-sm-5">
          <div class="content-caption text-left">
             <p><strong>調査会社やコンサルティング会社との違いは何でしょうか？</strong></p>
          </div>
         </div>
           <div class="icon col-lg-1 col-lg-offset-1 col-sm-1">
           <i class="fa fa fa-adn fa-2x text-danger"></i>
         </div>
         <div class="content col-lg-10 col-sm-5">
          <div class="content-caption text-left">
             <p>SUKIMAはアイデアや企画の精度を高めるためのサポートを提供します。調査・分析にとどまらず、提案内容の具現化をお手伝いさせていただきます。</p>
          </div>
           <div><p><br></p></div>
         </div>

        </div>
　　　
        </div>

</div>
 </div>

        </div>  
         
    </section>

<section class="bg-warning" id="contact">
      
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">お問い合わせ</h2>
            <hr class="primary">
        </div>
    </div>

    <div class="row">
　　　<div class="col-lg-12">
            
       <div class="row">

       <div class="col-lg-5 col-md-5 col-md-offset-1">

         <div class="content col-lg-12 col-md-12">
          <div class="content-caption text-left">
             <h3><strong>まずはお気軽にご相談ください。</strong></h3>
          </div>
         </div>

         <div class="content col-lg-12 col-md-12">
          <div class="content-caption text-left">
             <p class="text-body"><strong>◎例えばこんなお悩みはありませんか？</strong><br>良いアイデアが浮かばない。<br>
             忙しく企画業務の時間が取れない。<br>
             企画が行き詰まっている。<br>
             社外の視点で提案が欲しい。　</p>
             <p><small>※その他のお悩みもまずはご相談ください。</small></p>
          </div>
         </div>

      </div>

       <div class="col-lg-5 col-md-5 well well-md">

        <div class="content col-lg-12 col-md-12">

          <div class="content-caption text-left">
          <h3>電話でのお問合せ</h3>
          <h1 class="text-info"><strong>06-6251-3560</strong></h1><p><small>※10時〜18時/土日・祝日・年末年始を除く</small>
          </p>
          </div>
        </div>

         <div class="content col-lg-8 col-md-12">
          <div>
             <a href="/inquiry" target="_blank" class="btn btn-lg btn-block btn-danger">フォームでのお問合せ</a><p class="text-center"><small></small></p>
            </div>
         </div>

       </div>

      </div>  
      　　　
     </div>
   </div>
 </div>

</div> 
       
</section>
